.about_container {
  width: 80%;
  margin: 0 auto;
  font-family: 'Montserrat', sans-serif;
}

.video_container {
  padding-top: 15%;
  width: 60%;
  margin: 0% auto;
}

/* .me_container {
  
} */

.me_text {
  font-size: 28pt;
  margin-top: 3%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.me_also_text{
  font-size: 28pt;
  text-align: center;
}

.about_text {
  text-align: left;
  width: max-content;
  margin: 0 auto;
}

.text_bold {
  font-weight: bold;
}