/* pick out a font and import it here, pleez */

/* Desktop view */
.nav_container {
  width: 800px;
  height: 100px;
  border-radius: 50px;
  border: 3px, solid, white;
  background-color: rgb(177, 208, 209);
  display: flex;
  justify-content: space-evenly;
}

.nav_button {
  display: block;
  width: 100px;
  height: 80%;
  margin: auto;
}

.nav_button:hover {
  cursor: pointer;
}

.nav_text { /* maybe add shadow or blur or smth later? or keep it simple? */
  font-size: 14pt;
  color: rgb(39, 36, 54);
  text-align: center;
  padding: 27% 0;
}

/* Mobile view */
/* @media (max-width: 700px) {

  .nav_container {
    
  }
  
  .nav_button {
  
  }
  
  .nav_text {
  
  }

} */
