.skills_container {
  width: 100%;
  margin: 5rem auto 0;
  font-family: 'Montserrat', sans-serif;

  display: grid;
  grid-template-columns: 30% 20% 20% 30%;
}

.hard_container {
  grid-column: 2;
}

.soft_container {
  grid-column: 3;
}

.hard_container, .soft_container {
  text-align: center;
}

.skills_header {
  font-size: 28pt;
  text-decoration: underline;
}

.ul {
  font-size: 16pt;
  font-weight: bold;
}

.skills_hard {
  
}

.skills_soft {
  
}